h1{
    margin-left: 10%;
    font-size: 20px;
    font-weight: bold;
    color: green;
}
td{
    font-size: 10px;
    border: 1px;
    border-color: black;
    border-style: solid;
    padding: 1px;
    // text-align: center;
}
tr{
    border: 1px;
    border-color: black;
    border-style: solid;
    padding: 1px;
}

th{
    font-size: 10px;
    border: 1px;
    border-color: black;
    border-style: solid;
    padding: 1px;
    color: green;
    // text-align: center;
    margin: 1px;
}